/* Hide semua elemen body untuk di show dgn jquery */
body{
  display: none;
}

div.form-row.edit-form {
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidenav {
    height: 100%;
    width: 14%;
    position: fixed;
    z-index: 1;
    background-image: url("../image/bg2.jpg");
    background-origin: initial;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    text-decoration: none;
    font-size: 15px;
    color: black;
    display: block;
    padding-right: 20px;
}

.sidenav a:hover {
    color: #f1f1f1;
    background-color:#007bff;
}

.sidenav li{
/*    width: 0px;
    height: 36px;*/
}

.sidenav li.active{
   /* background-color: #55555663;*/
}

.main {
    margin-left: 190px; /* Same as the width of the sidenav */
    padding-top: 30px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

ul.nav.nav-pills.nav-stacked.text-right{
    margin-top:20px;
}

div.list-side li{
    line-height: 2;
}

.header-public{
    margin-top: 30px;
    margin-bottom: 30px;
}
